<ion-content class="background">
  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="dosomething($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpiner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <div class="row">

    <div class="col-6 mt-4 ">
      <ion-icon style="margin-left:20px;width: 45px; height:25px;color:#fff" (click)="backToPrivios()"
        name="arrow-back">
      </ion-icon>
    </div>

  </div>
  <!-----Title----->

  <div class="row ">

    <div style="margin-top:-45px" class="col-12 ion-text-center">
      <b style="font-size: 20px;">AUTO-WEIGHTER</b>
    </div>

    <div class="row ">
      <!-----Display Date----->

      <div class="date-card col-6 display-date mx-5 ">
        <p style="margin: 7px;"> <b>{{currentDateTime | date:'dd-MM-yyyy'}}</b> </p>
      </div>

      <div style="margin-top: -9%;" class=" col-6 dropdown toggle ">
        <input id="t10" type="checkbox">
        <label for="t10">{{user}}</label>
        <ul>
          <li><a (click)="navigateToSettings()">Settings</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>

    </div>

    <!-----Display Weight----->
    <div class="row">
      <p class="select-category mx-4" style="font-size: 13px;"><b><u>Weight:</u></b></p>
      <div class="col-12 ion-text-center mt-1">
        <h1
          style="border: 0.5px solid rgba(0, 0, 0, 0.164);  box-shadow: 1px 1px 8px 1px #6863CC;width: 85%;margin: auto;">
          {{showWeight}} <span style="font-size: 17px;">Kg</span></h1>
      </div>

      <div  (click)="reciveWeight()" class="col-12 ion-text-center mt-3">
         <button  class="btn btn-primary" style="width: 70%;background-color: #6863CC;" > Capture Weight</button>
      </div>

    </div>



    <div class="container weighter-details-wrapper">
      <div class="row">
        <!------------ type based buttons -------------->
        <div id="sideMenuList" class="col-6">
          <button [class]="activeItem == 'center' ? 'active list': 'list' " (click)="center('center')"
            class="btn btn-primary type-btn">Center</button>
        </div>
        <div id="sideMenuList" class="col-6">
          <button [class]="activeItem == 'localsale' ? 'active list': 'list' " (click)="localsale('localsale')"
            class="btn btn-primary type-btn">Local Sale</button>
        </div>
        <div id="sideMenuList" class="col-6">
          <button [class]="activeItem == 'market' ? 'active list': 'list' " (click)="market('market')"
            class="btn btn-primary type-btn">Market</button>
        </div>
        <div id="sideMenuList" class="col-6">
          <button [class]="activeItem == 'merchant' ? 'active list': 'list' " (click)="merchant('merchant')"
            class="btn btn-primary type-btn">Merchant</button>
        </div>


        <!-----Fish category----->
        <div class="col-6">
          <form (change)="SelectCategory(Selectcategory.value)" #Selectcategory="ngForm">
            <p class="select-category mx-2" style="font-size: 13px;"><b><u>Select Category:</u></b></p>
            <select style="width: 96%;" class="selectDropdown mx-2" [(ngModel)]="category" placeholder="category" name="category">
              <option value="" disabled selected>Category</option>
              <option *ngFor="let category of categorylist" [value]="category.category">{{category.category}}</option>
            </select>
          </form>
        </div>

        <!-----Fish quality----->
        <div class="col-6">
          <form (change)="SelectType(Selecttype.value)" #Selecttype="ngForm">
            <p class="select-category" style="font-size: 13px;"><b><u>Select Quality: </u></b></p>
            <select class="selectDropdown" [(ngModel)]="fishquality" placeholder="fishquality" name="fishquality"
              style="width: 96%;">
              <option value="" disabled selected>Fish Type</option>
              <option *ngFor="let type of StoreTypeData" [value]="type">{{type}}</option>
            </select>
          </form>
        </div>

      </div>



      <div class="row mt-3">
        <!-----FLocation----->
        <div class="col-12 ion-text-center">
          <form (change)="SelectLocation(Selectlocation.value)" #Selectlocation="ngForm">
            <p class="select-category" style="font-size: 13px;"><b><u>Select Location: </u></b></p>
            <select class="selectDropdown" ngModel placeholder="place" name="place" style="width: 96%;">
              <option value="" disabled selected hidden>Location</option>
              <option *ngFor="let location of locationlist" [value]="location.place">{{location.place}}</option>
            </select>
          </form>
        </div>
      </div>

    </div>


    <!-----Submit Button---->
    <div class="row ion-text-center">
      <div class="button-wrapper mt-2 mx-2 ">
        <ion-button (click)="onlineApiCal()" class="submit-button" color="transparent"
          style="background-color: #6863CC;width: 100% !important;"
          [disabled]="!place || !type || !category   || showWeight <='0' ">
          <b>SUBMIT</b>
        </ion-button>
      </div>
    </div>

  </div>


  <!-----card----->

  <div style="font-size: 12px;">
    <div class="row mb-4">
      <div id="cardActive" class="col-12">
        <div [class]="record.type == 'center' ? 'active cardColor': 'cardColor' " class="card mt-3"
          *ngFor="let record of tableRecodrs">
          <div class="row">
            <div class="col-5">
              <b style="color: #6863CC;">Date:</b><span id="data">{{record.updatedAt | date:'dd-MM-yyyy'}}</span><br>
              <b style="color: #6863CC;">Category</b><span id="data"> : {{record.category}}</span><br>
              <b style="color: #6863CC;">Weight </b> <span id="data">: {{record.quantity}}Kg</span> <br>
            </div>

            <div class="col-5">
              <b style="color: #6863CC;">Time</b> <span id="data">: {{record.time}}</span><br>
              <b style="color: #6863CC;">Quality</b> <span id="data">: {{record.quality}} </span><br>
              <b style="color: #6863CC;">Location</b> : <span id="data">{{record.place}}</span><br>


            </div>
            <div class="col-2 ion-text-left mt-2">
              <div (click)="delete(record.boxid)" [value]="record.boxid" class="dot">
                <img class="mx-2 mt-2" src="assets/icon/trash.svg" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>