.welcome-back {
    margin-top: 65px;
}

.username {
    border    : 1px #dacddf solid;
    font-size : 14px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.password {
    border    : 1px #dacddf solid;
    font-size : 14px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.forgot-password {
    text-align   : right;
    padding-right: 18px;
    font-size    : 13px;
}

.login-btn {
    background-color: #655fcb !important;
    color           : #fff;
    width           : 80%;
    height          : 35px;
}

.seller {
    font-family: 'Roboto', sans-serif;
    font-size  : 34px;
    font-weight: 25px;
    color      : #655fcb;
    text-shadow: 2px 2px 4px #ccc;

}

.logo-image{
    width: 60%;
    text-align: center;
 
}

ion-content.background {
    --background: url(../../assets/background.png) 0 0/100% 100% no-repeat;
    background  : #fff;
}