<ion-content class="background">

  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="dosomething($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpiner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </div>

  <div class="row">

    <div class="col-8">
      <h6 style="color: #6863CC;margin-left: 55%;" class=" mt-4"><b>WEIGHTER</b></h6>
    </div>

  </div>

  <div class="row ">
    <!-----Display Date----->

    <div class="date-card col-6 display-date  ">
      <p class="mt-2"> <b>{{currentDateTime | date:'dd-MM-yyyy'}}</b> </p>
    </div>

    <div style="margin-top: -8%;" class=" col-6 dropdown toggle ">
      <input id="t2" type="checkbox">
      <label for="t2">{{user}}</label>
      <ul>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>


  <div class="row">
    <div class="col-12 ion-text-center">
      <button (click)="navigateToNextPage()" class="navigate-btn  mt-3"><b>Start Weighing</b></button>
    </div>

    <div class="col-12 ion-text-center">
      <div class="weight-display" style="font-size: 16px;margin:7%;">
        <p> Today's Total Weight <b><br> {{totalweight}}</b> Kgs</p>
      </div>
    </div>

    <!-----location-wise weight Table----->
    <h6 class="mx-2">Location-Wise:</h6>
    <table class="table">
      <thead style="background-color:#6863CC;" class="text-white">
        <tr>
          <th scope="col-3">S.No</th>
          <th scope="col-2">Location</th>
          <th scope="col-2">Total Weight <span style="font-size: 8px;">(Kgs)</span></th>
        </tr>
      </thead>
      <tbody *ngFor="let record of tableRecodrs   let i=index; ">
        <tr>
          <td>{{i+1}} </td>
          <td>{{record.location}}</td>
          <td>{{record.location_total_weight}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div *ngIf="isVisible" class=" col-12 ion-text-center mt-3 ">
        <h4 class="ion-text-center mx-3">No Records</h4>
      </div>
    </div>

  </div>

  <!-----stock Table----->
  <div class="row">
    <h6 class="mx-2">Stock:</h6>
    <table class="table">
      <thead style="background-color:#6863CC;" class="text-white">
        <tr>
          <th scope="col-3">Type</th>
          <th scope="col-2">Location</th>
          <th scope="col-2">Category</th>
          <th scope="col-2">Quality</th>
          <th scope="col-2">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of centerStockRecords">
          <td>{{stock.type}}</td>
          <td>{{stock.location}}</td>
          <td>{{stock.category}}</td>
          <td>{{stock.quality}}</td>
          <td>{{stock.quantity}}</td>
        </tr>

        <tr *ngFor="let data of localsaleStockRecords">
          <td>{{data.type}}</td>
          <td>{{data.location}}</td>
          <td>{{data.category}}</td>
          <td>{{data.quality}}</td>
          <td>{{data.quantity}}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="stockTableEmpty" class=" col-12 ion-text-center ">
      <h4 class="ion-text-center mx-3">No Records</h4>
    </div>
  </div>

  <!-----market Table----->
  <div class="row">
    <h6 class="mx-2">Market:</h6>
    <table class="table">
      <thead style="background-color:#6863CC;" class="text-white">
        <tr>
          <th scope="col-3">Location</th>
          <th scope="col-2">Place</th>
          <th scope="col-2">Category </th>
          <th scope="col-2">Quality </th>
          <th scope="col-2">Quantity </th>
        </tr>
      </thead>
      <tbody *ngFor="let record of marketTableRec   let i=index; ">
        <tr>
          <td>{{record.location}}</td>
          <td>{{record.place}}</td>
          <td>{{record.category}}</td>
          <td>{{record.quality}}</td>
          <td>{{record.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="marketTableEmpty" class=" col-12 ion-text-center ">
      <h4 class="ion-text-center mx-3">No Records</h4>
    </div>
  </div>


  <!-----merchent Table----->
  <div class="row">
    <h6 class="mx-2">Merchant:</h6>
    <table class="table">
      <thead style="background-color:#6863CC;" class="text-white">
        <tr>
          <th scope="col-3">Shop</th>
          <th scope="col-2">Place</th>
          <th scope="col-2">Category </th>
          <th scope="col-2">Quality </th>
          <th scope="col-2">Quantity </th>
        </tr>
      </thead>
      <tbody *ngFor="let record of merchantTableRec   let i=index; ">
        <tr>
          <td>{{record.place}}</td>
          <td>{{record.shop}}</td>
          <td>{{record.category}}</td>
          <td>{{record.quality}}</td>
          <td>{{record.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="merchantTableEmpty" class=" col-12 ion-text-center ">
      <h4 class="ion-text-center mx-3">No Records</h4>
    </div>
  </div>

  
  <div style="border:1px solid #fff;box-shadow:3px 3px 16px 4px #ccc;" class="row mt-4">
    <div class="col-6 mt-2">
      <p style="color: #6863CC;margin-left: 5px;"><b>From Date:</b></p>
      <p style="color: #6863CC;margin-left: 5px;"><b>To Date:</b></p>

    </div>

    <div class="col-6 mt-2" style="margin-left: -10%;">
      <div>
        <input (change)="fromDate(fromdate)" [(ngModel)]="fromdate" type="date">
      </div>
      <div class="mt-3">
        <input (change)="toDate(todate)" [(ngModel)]="todate" type="date">
      </div>
    </div>

    <div class="col-12 ion-text-center mb-2">


      <ion-button (click)="dateBasedRecord()" class="submit-button" color="transparent" expand="block"
        style="background-color: #6863CC;width: 75%;margin: auto;" [disabled]="!fromdate || !todate ">
        <b>SUBMIT</b>
      </ion-button>
    </div>
  </div>




  <!-----card----->

  <h4 *ngIf="lastEntryisVisible" class="mx-3">Last Entry:</h4>

  <div style="font-size: 12px;">
    <div class="row mb-5">
      <div id="cardActive" class="col-12">
        <div [class]="record.type == 'center' ? 'active cardColor': 'cardColor' " class="card mt-3"
          *ngFor="let record of cardRecords">
          <div class="row">
            <div class="col-5">
              <b style="color: #6863CC;">Date:</b><span id="data">{{record.updatedAt | date:'dd-MM-yyyy'}}</span><br>
              <b style="color: #6863CC;">Category</b><span id="data"> : {{record.category}}</span><br>
              <b style="color: #6863CC;">Weight </b> <span id="data">: {{record.quantity}}Kg</span> <br>
            </div>

            <div class="col-5">
              <b style="color: #6863CC;">Time</b> <span id="data">: {{record.time}}</span><br>
              <b style="color: #6863CC;">Quality</b> <span id="data">: {{record.quality}} </span><br>
              <b style="color: #6863CC;">Location</b> : <span id="data">{{record.place}}</span><br>


            </div>
            <div class="col-2 ion-text-left mt-2">

              <div (click)="delete(record.boxid)" [value]="record.boxid" class="dot">
                <svg style="margin-left:7px;margin-top:5px" xmlns="http://www.w3.org/2000/svg" width="20" height="24"
                  fill="#fff" class="bi bi-trash" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




</ion-content>