<ion-content class="background">

  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="dosomething($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpiner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </div>

  <!-----Title----->
  <h2 style="margin-top: 3%;" class="text-center weighter"><b>DASHBOARD</b></h2>


  <div class="row ">
    <!-----Display Date----->

    <div class="date-card col-6 display-date mx-5 ">
      <p style="margin: 7px;"> <b>{{currentDateTime | date:'dd-MM-yyyy'}}</b> </p>
    </div>

    <div style="margin-top: -12%;" class=" col-6 dropdown toggle ">
      <input id="t2" type="checkbox">
      <label for="t2">{{user}}</label>
      <ul>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

  </div>


  <!-----Display total Weight----->
  <div class="weight-display-wrap text-center mt-4 px-2">
    <div class="weight-display" style="font-size: 16px;">
      <p> Today's Total Weight <b><br> {{totalweight}}</b> Kgs</p>
    </div>
  </div>

  <!-----Display total amount----->
  <div class="weight-display-wrap text-center mt-4 px-2">
    <div class="weight-display" style="font-size: 16px;">
      <p>Today's Total Amount <b> <br>Rs.{{totalCost}}</b>/-</p>
    </div>
  </div>


  <div class="container weighter-details-wrapper" style="margin-top: -5px;">

    <!----------- Weighter  ------------>
    <div class="card row mb-3">
      <h6 class="mt-2" style="color: #6863CC;"><b><u>Weighter:</u></b></h6>
      <div class="row mt-4">
        <div class="col-6">
          <p style="color: #6863CC;"><b>From Date:</b></p>
          <p style="color: #6863CC;"><b>To Date:</b></p>

        </div>

        <div class="col-6" style="margin-left: -12%;">
          <div>
            <input (change)="fromDate(fromdate)" [(ngModel)]="fromdate" type="date">
          </div>
          <div class="mt-3">
            <input (change)="toDate(todate)" [(ngModel)]="todate" type="date">
          </div>
        </div>

        <div class="col-12 ion-text-center mb-2">
          <ion-button (click)="weighterReportPage()" class="submit-button" color="transparent" expand="block"
            style="background-color: #6863CC;width: 75%;margin: auto;">
            <b>SUBMIT</b>
          </ion-button>
        </div>
      </div>
    </div>

    <!----------- Biller  ------------>
    <div class="card row mb-3">
      <h6 class="mt-2" style="color: #6863CC;"><b><u>Biller:</u></b></h6>
      <div class="row mt-4">
        <div class="col-6">
          <p style="color: #6863CC;"><b>From Date:</b></p>
          <p style="color: #6863CC;"><b>To Date:</b></p>

        </div>

        <div class="col-6" style="margin-left: -12%;">
          <div>
            <input (change)="fromDate(fromdate)" [(ngModel)]="fromdate" type="date">
          </div>
          <div class="mt-3">
            <input (change)="toDate(todate)" [(ngModel)]="todate" type="date">
          </div>
        </div>

        <div class="col-12 ion-text-center mb-2">
          <ion-button (click)="billerReportPage()" class="submit-button" color="transparent" expand="block"
            style="background-color: #6863CC;width: 75%;margin: auto;">
            <b>SUBMIT</b>
          </ion-button>
        </div>
      </div>
    </div>



  </div>



</ion-content>