<ion-content class="background">

  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="dosomething($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpiner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <div class="row mt-3">

    <div class="col-2">
      <ion-icon style="margin-left:20px;width: 45px; height:25px;color:#fff" (click)="backToPrivios()"
        name="arrow-back">
      </ion-icon>
    </div>
    <div class="col-10">
      <div *ngIf="onlineAlart" class="col-12 ion-text-right ">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_dsp2yB.json" background="transparent"
          speed="1.5" style="width:25%; margin-left: 70%;" loop autoplay></lottie-player>
        <!-- <p style="background-color: #6863CC;border-radius:10px;color:#fff;width: 50px;  margin-left: 50%;">Online</p> -->
      </div>

      <div *ngIf="offlineAlart" class="col-12 ion-text-right ">
        <!-- <p style="background-color: #6863CC;border-radius:10px;color:#fff;width: 50px;  margin-left: 50%;">Offline</p> -->
        <img style="width:25%; margin-left: 70%; border-radius: 55%;" src="assets/offline.gif" alt="">
      </div>
    </div>

  </div>

  <!-----Title----->
    <div class="row">

      <div style="margin-top:-50px" class="col-12 ion-text-center">
        <b style="font-size: 25px;">DASHBOARD</b>
      </div>

      <div class=" col-6 dropdown toggle mt-3">
        <input id="t4" type="checkbox">
        <label for="t4">{{user}}</label>
        <ul>
        
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>

    </div>

  <!-----Sub-Title----->
  <h4 class="text-center connectivity mt-4"><b> BLUETOOTH CONNECTIVITY</b></h4>
  <div class="row text-center mt-4">
    <div class="col-12 mt-2">
      <div class="button-wrapper p-5">
        <div class="container">
          <div class="row">
            <button (click)="enablebluetooth()" class="submit-button px-2 py-2" color="transparent"
              style="font-size: 13px;background-color: #655fcb;" >
              CONNECT
            </button>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <!--Show Unpaired Device-->

  <ion-item *ngFor='let device of unpairedDevices'>
    <span (click)="selectDevice(device.id)">
      <p>Select a Device To Connect : </p>
      {{device.name || device.address}}
    </span>
  </ion-item>
  <ion-spinner name="crescent" *ngIf="gettingDevices" style="margin-left: 50%;"></ion-spinner>


  <div class="button-wrapper p-4">
    <div class="container">
      <div class="row">
        <button (click)="disconnect()" class="submit-button px-2 py-2" color="transparent"
          style="font-size: 13px;background-color: #655fcb;">
          DISCONNECT
        </button>
      </div>
    </div>
  </div>


  <!-- <button class="btn btn-primary" (click)="next()">next</button> -->

</ion-content>