.navigate-btn{
    background-color: #655fcb !important;
    color:#fff;
    width: 70%;
    height:35px;
}

table {
    border-spacing: 0px;
    table-layout: fixed;
    text-align: center;
    margin: 2px;
}

td, th {
    border: 0.10px solid rgba(0, 0, 0, 0.281);
    word-break: break-all;
    font-size: 10px;;
}



  