/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//----- weighter page scss-------------------//
.weighter{
    margin-top: 75px;
}

.weight-display{
    background-color: lightgray;
    color: #645FCB;
    border-radius: 2px;
    padding-top: 3px;
}

.display-date{
    color: #6863CC;
    font-size: 14px;
}

.weighter-details-wrapper{
    margin-top: 15px;
}

.select-category{
    font-size: 14px ;
    color: #6863CC;
    
}

#select-category-dropdown{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px
}
   
.dropdown-label{
    font-size: 12px;
}

.submit-button{
    color: white;
    border-radius: 5px;
}

.table{
    font-size: 10.5px;
    margin-top: 15px;
}

.trash{
    color: #6863CC;
}

.calendar{
    border: none !important;
}

ion-content.background{
    background: url(assets/background.png) 0 0/100% 100% no-repeat;
    background: #fff;
  }


  //--------------dashboard scss --------------------//@at-root
  .welcome-back{
    margin-top: 75px;
}

.connectivity,.bluetooth-status{
    color: #645FCB;
}

.toggle-bluetooth{
    border-bottom: none !important;
}

.bluetooth-connection-message{
    background-image: linear-gradient(315deg, #f0f0f0 0%, #ececec 74%);
    color: #645FCB;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}


.user-dropdown{
    margin-top: 65px;
    padding-right: 15px;
}


ion-content.background{
    --background: url(assets/background.png) 0 0/100% 100% no-repeat;
    background: #fff;
  }


  .dot {
    margin-left: -5px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to left, #a8a3fd
  0%, #645fcc
  100%);
  color:#fff;
  border-radius: 50%;
  display: inline-block;
}


.card{
    
    border:1px solid #fff;
    box-shadow:3px 3px 16px 4px #ccc;
    margin: auto;
    width: 100%;
    background-color: #fff !important;
    border-radius: 2px;
}


.selectDropdown{
    border: 2px solid #655fcb;
    
  }


  .date-card{
    background-color: #655fcb !important;
    color:#fff;
    height:39px;
    width: 35%;
    margin-left: 10%;
    font-size: 13px;
}